---
title: Frontend Snippet Library
---

<aside>
  <div class="logo">
    <img src="images/logo.svg">
  </div>
  <h6><a href="#forms" class="scroll">Forms</a></h6>
  <ul>
    <li><a href="#radio-buttons" class="scroll">Radio Buttons</a></li>
    <li><a href="#tooltip" class="scroll">Tooltip</a></li>
  </ul>

  <h6><a href="#mixins" class="scroll">Mixins</a></h6>
  <ul>
    <li><a href="#centering" class="scroll">Centering</a></li>
    <li><a href="#vert-hor-center" class="scroll">Vertical & Horizontal Centering</a></li>
  </ul>

  <h6><a href="#tables" class="scroll">Tables</a></h6>
  <ul>
    <li><a href="#clickable-table-row" class="scroll">Clickable Table Row</a></li>
    <li><a href="#responsive-tables" class="scroll">Responsive Tables</a></li>
    <li><a href="#vert-hor-scroll" class="scroll">Vertical & Horizontal Scrolling</a></li>
  </ul>

  <h6><a href="#plugins" class="scroll">Plugins</a></h6>
  <ul>
    <li><a href="#instagram" class="scroll">Instagram Feed</a></li>
    <li><a href="#weather" class="scroll" >Minimal Weather</a></li>
  </ul>
</aside>

<section class="landing-container">
  <h1>Frontend Snippet Library</h1>
  <p class="subheader">A collection of reuseable snippets that have been browser tested and refactored for ease of use.</p>
  <div class="block-group" id="forms">
    <h2>Forms</h2>
    <div class="block" id="radio-buttons">
      <h3>Radio Buttons</h3>
      <p>A couple different stylistic radio button options.</p>
      <p data-height="350" data-theme-id="0" data-slug-hash="zqawWB" data-default-tab="html,result" data-user="marchwiany" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/marchwiany/pen/zqawWB/">Radion Buttons Buttons</a> by Monique Marchwiany (<a href="http://codepen.io/marchwiany">@marchwiany</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    </div>

    <div class="block" id="tooltip">
      <h3>Tooltip</h3>
      <p>A show/hide based tooltip with a smooth scroll.</p>
      <p data-height="350" data-theme-id="0" data-slug-hash="xVJxXp" data-default-tab="css,result" data-user="marchwiany" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/marchwiany/pen/xVJxXp/">Show /Hide Tooltip</a> by Monique Marchwiany (<a href="http://codepen.io/marchwiany">@marchwiany</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    </div>
  </div>

  <div class="block-group" id="mixins">
    <h2>Mixins</h2>
    <div class="block" id="centering">
      <h3>Centering</h3>
      <p>When you need to center block level elements.</p>
      <p data-height="350" data-theme-id="0" data-slug-hash="mPjdeG" data-default-tab="css,result" data-user="marchwiany" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/marchwiany/pen/mPjdeG/">Centering Mixin</a> by Monique Marchwiany (<a href="http://codepen.io/marchwiany">@marchwiany</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    </div>
  </div>

  <div class="block-group" id="tables">
    <h2>Tables</h2>
    <div class="block">
      <h3>Clickable Table Row</h3>
      <p>Abilty to click on an entire row to go to a different page.</p>
    </div>
    <div class="block">
      <h3>Responsive Tables</h3>
      <p>View tables on both desktop and mobile devices.</p>
    </div>
    <div class="block">
      <h3>Vertical & Horizontal Scrolling</h3>
      <p>Have a stick header for large tables that need to scroll in both directions.</p>
    </div>
  </div>

  <div class="block-group" id="plugins">
    <h2>Plugins</h2>
    <div class="block" id="instagram">
      <h3>Instagram feed</h3>
      <p>A free responsive instagram feed with Lightwidget that updates once per day ($10 one time fee if site uses https).</p>
      <p data-height="300" data-theme-id="0" data-slug-hash="MyXqgO" data-default-tab="html,result" data-user="marchwiany" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/marchwiany/pen/MyXqgO/">Responsive Instagram Feed with Lightwiget</a> by Monique Marchwiany (<a href="http://codepen.io/marchwiany">@marchwiany</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <p class="source">Go to <a href="https://lightwidget.com/" target="_blank">Lightwidget</a> to create your own.</p>
    </div>
    <div class="block" id="weather">
      <h3>Minimal Weather</h3>
      <p>Allows for some style customization and location support.</p>
      <p data-height="350" data-theme-id="0" data-slug-hash="JXZaRz" data-default-tab="css,result" data-user="marchwiany" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/marchwiany/pen/JXZaRz/">simpleWeather.demo.js v3.1.0</a> by Monique Marchwiany (<a href="http://codepen.io/marchwiany">@marchwiany</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <p class="source">Based on <a href="http://simpleweatherjs.com/" target="_blank">Simple Weather JS</a>.</p>
    </div>
  </div>
</section>


<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
